/* single page CSS */
.single nav ul li a {
    color: var(--clrBlack) !important;
}
body.single {
    background: var(--clrWhite);
}
body.single main {
    padding-top: 70px;
}
.single-page .entry-title, 
.single-page .entry-content, 
.single-page .entry-meta, 
.single-page .entry-footer, 
.single-page .navigation {
    width: 70%;
    margin: var(--zero) var(--auto);
}

.single-page .entry-title {
    margin-bottom: 24px;
    line-height: 50px;
    font-variation-settings: var(--fontVariation);
}

.single-page .entry-content {
    margin-top: 24px;
    margin-bottom: 24px;
}

.single-page .entry-content h2, 
.single-page .entry-content h3, 
.single-page .entry-content h4, 
.single-page .entry-content h5, 
.single-page .entry-content h6 {
    margin: 24px var(--zero);
}
.single .entry-title a {
    color: var(--clrDarkBlue);
}

.single .entry-title a:hover {
    color: var(--clrOrange);
}
.single .navigation.post-navigation {
    display: var(--none);
}
